{
  "openapi": "3.0.3",
  "info": {
    "title": "Owlbert's Journeys API",
    "description": "An API that provides interactive city tours with tips, food recommendations, and location-based updates powered by Owlbert the owl.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.owlbertsjourneys.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/tours": {
      "get": {
        "summary": "Get available tours",
        "description": "Retrieve a list of available tours for cities supported by Owlbert's Journeys.",
        "responses": {
          "200": {
            "description": "List of tours",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tours": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tour_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tours/{tour_id}/start": {
      "post": {
        "summary": "Start a tour",
        "description": "Initiate a tour using the specified tour ID.",
        "parameters": [
          {
            "name": "tour_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tour started successfully"
          },
          "404": {
            "description": "Tour not found"
          }
        }
      }
    },
    "/location/tips": {
      "get": {
        "summary": "Get location-based tips",
        "description": "Retrieve interactive tips and recommendations based on user's current location.",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location-based tips",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tips": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid location coordinates"
          }
        }
      }
    },
    "/recommendations/food": {
      "get": {
        "summary": "Get food recommendations",
        "description": "Retrieve food recommendations based on user's location and preferences.",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "preference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "vegetarian",
                "vegan",
                "gluten-free",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Food recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "rating": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid location coordinates"
          }
        }
      }
    },
    "/tours/types": {
      "get": {
        "summary": "Get available tour types",
        "description": "Retrieve a list of available tour types such as walking, biking, or driving.",
        "responses": {
          "200": {
            "description": "List of tour types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "walking",
                          "biking",
                          "driving"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reservations/suggestions": {
      "get": {
        "summary": "Get reservation suggestions",
        "description": "Retrieve suggestions for reservations based on user preferences and location.",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "preference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "breakfast",
                "lunch",
                "dinner",
                "any"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "reservation_url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reservations/make": {
      "post": {
        "summary": "Make a reservation",
        "description": "Make a reservation through integrated services like Resy, Open Table, or Tock.",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Resy",
                "OpenTable",
                "Tock"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "time": {
                    "type": "string",
                    "format": "time"
                  },
                  "party_size": {
                    "type": "integer"
                  }
                },
                "required": [
                  "date",
                  "time",
                  "party_size"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reservation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "confirmation_number": {
                      "type": "string"
                    },
                    "reservation_details": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guides/interactive": {
      "get": {
        "summary": "Get interactive guides",
        "description": "List interactive multimedia guides that sync with Google Maps and Apple Maps.",
        "responses": {
          "200": {
            "description": "List of interactive guides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guides": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "guide_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "platforms": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "Google Maps",
                                "Apple Maps"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guides/audio": {
      "get": {
        "summary": "Get audio guides",
        "description": "Retrieve a list of available audio guides for walking or biking tours.",
        "responses": {
          "200": {
            "description": "List of audio guides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audio_guides": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "guide_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guides/audio/{guide_id}/start": {
      "post": {
        "summary": "Start an audio guide",
        "description": "Start an audio guide by specifying the guide ID.",
        "parameters": [
          {
            "name": "guide_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audio guide started"
          }
        }
      }
    },
    "/guides/audio/{guide_id}/stop": {
      "post": {
        "summary": "Stop an audio guide",
        "description": "Stop an audio guide that is currently playing.",
        "parameters": [
          {
            "name": "guide_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audio guide stopped"
          }
        }
      }
    },
    "/guides/audio/{guide_id}/download": {
      "get": {
        "summary": "Download an audio guide",
        "description": "Download an audio guide for offline listening.",
        "parameters": [
          {
            "name": "guide_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audio guide download link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "download_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}